<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">


</head>
<body>
<h1></h1>
  <form class="form1" action="" method="dialog">
      {% csrf_token %}
      {{ form.as.p }}
{#   <input placeholder="Enter name" type="name"<br><br>#}
{#   <input placeholder="Enter email" type="email"<br><br>#}
{#   <input placeholder="Enter password" type="password"<br><br>#}
{#   <input value="submit" type="submit"> <br><br> #}
  </form>
</body>
</html>