<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design Two</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="container-div">
  <div class="navigation-div">
    <div class="logo-div">
      <img src="../static/images/imag7.jpg" alt="No image">
    </div>
    <div class="buttons-div">
      <button>Home</button>
      <button>About</button>
      <button>Gallery</button>
      <button>Register</button>
      <button>Login</button>
      <img src="../static/images/img%2015.jpg" alt="">
    </div>
  </div>
  <div class="content-wrapper-div">
    <div class="wrapper-left-div">
      <h1 class="h">MAKE <span class="h-span">HTML</span> & CSS WEBSITE</h1>
      <P class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Ad adipisci alias dolorum, esse exercitationem, minus mollitia nemo omnis quaerat,
        quos repellat unde ut? Ab consequatur eveniet libero possimus, quaerat recusandae!</P>
      <button class="button1">Enter</button>
      <button class="button2">Exit</button>
    </div>
    <div class="wrapper-right-div"></div>
  </div>
</div>
</body>
</html>