<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design One</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="banner-div">
  <img src="../static/images/img14.jpg" alt="No image">
</div>
<div class="cards-div">
  <div class="content-card">
    <img src="../static/images/img13.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Consequatur debitis distinctio doloribus illum ipsa ipsam maxime molestias necessitatibus nihil,
      omnis perferendis praesentium quam quo reprehenderit tenetur totam veniam voluptatem! Alias?</p>
  </div>
  <div class="content-card">
    <img src="../static/images/img16.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad atque commodi cum debitis deserunt esse illum in libero,
      modi nesciunt nobis numquam odit pariatur perferendis quas quis quos tempore voluptas!</p>
  </div>
  <div class="content-card" >
    <img src="../static/images/img%2015.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda atque beatae debitis dolorum expedita quae recusandae. Debitis dolores error, fugiat harum iste laborum quasi tempora,
      vel veniam, veritatis voluptatibus.</p>
  </div>
  <div class="content-card">
    <img src="../static/images/img17.jpg" alt="">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequatur cum distinctio explicabo facere fugiat illo laborum maiores mollitia nam nostrum perspiciatis quae,
      quisquam repudiandae sapiente sequi suscipit. Illo, unde.</p>
  </div>
</div>
</body>
</html>