<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="top">
    <h1>Cities</h1>
</div>
<div class="mid">
    <div class="mid-left">
        <ol>
            <li><a href="#">London</a></li>
            <li><a href="#">Paris</a></li>
            <li><a href="#">Tokyo</a></li>
        </ol>
    </div>
    <div class="mid-right">
        <h1>London</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Animi at libero quae quisquam sunt vel. Accusamus earum id
            itaque labore nihil odio, optio qui quibusdam,
            reiciendis repudiandae totam, voluptatem voluptatibus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Animi at aut beatae dicta distinctio dolorem earum et impedit in
            ipsa magni molestias perspiciatis praesentium,
            reiciendis sunt tempore, ullam velit voluptas.</p>
    </div>
</div>
<div class="footer">
    <h5>Footer</h5>
</div>
</body>
</html>