<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="master">
  <div class="master-work">
    <img src="../static/images/img16.jpg" alt="No image">
  </div>
  <div class="master-buttons">
    <button class="button-m">Home</button>
    <button class="button-m">About</button>
    <button class="button-m" >Gallery</button>
    <button class="button-m">Login</button>
  </div>
</div>
<div class="context">
  <h1>MAKE HTML AND CSS WEBSITE</h1>
</div>
<div class="end"></div>

</body>
</html>