<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>Register Here</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="m-btn-reg" value="Register">
    </form>
    {% if register_button == "Register" %}

        <h5>Name: {{ name }}</h5>
        <h5>Gender: {{ gender }}</h5>
        <h5>Salary: {{ salary }}</h5>
        <h5>Age: {{ age }}</h5>
        <h5>Department: {{ department }}</h5>


    {% endif %}



</body>
</html>