<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cat</title>
    <!--    Start of JS connection-->
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
<!--    End of JS connection-->
<!--    start of CSS connection-->
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap/css/custom.css">
<!--    End of CSS connection-->
</head>
<body class="b">
<!--Start of navigation section-->
<section>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="index.html">Bloom</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html">portfolio</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="index.html">Contact us</a>
        </li>
      </ul>
    </div>
  </nav>

</section>
<!--End of navigation section-->
<!--start of the work section-->
<section>
    <div class="row">
        <div class="p col-md-6">
            <h1>Lorem ipsum dolor sit a met</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Asperiores distinctio, earum fugit ipsa nam qui quia, quis
                repellat sapiente tenetur veniam voluptas voluptate voluptatibus. Aliquid eum praesentium quas qui veritatis.
            </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae blanditiis, eligendi excepturi facilis laboriosam mollitia numquam
                optio possimus quas quasi. Accusantium laborum molestias sed. Dignissimos incidunt qui recusandae sit vitae.</p>
            <button class="p-btn">Learn more</button>
        </div>
        <div class="photo col-md-6" >
            <img src="../static/images/img9.jpg" alt="No image" width="100%" height="350vh">
        </div>
    </div>
</section>
<!--End of the work section-->
<!--Start of image section-->
<section>
    <h1 class="h">This is a heading</h1>
    <div class="row">
        <div class="p1  col-4 col-md-4">
            <img src="../static/images/img13.jpg" alt=" no image" width="340"height="200">
            <h5>Aliquam eta iaculis sapien </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum cumque ducimus eveniet id ipsam sequi,
                similique. Commodi dolores earum iusto molestiae nisi nulla, placeat quae quia repudiandae totam vitae.</p>
            <button class="p-btn">Learn more</button>
        </div>
        <div class="p1 col-4 col-mid-4">
            <img src="../static/images/img9.jpg" alt=" no image" width="340" height="200">
             <h5>Aliquam eta iaculis sapien </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum cumque ducimus eveniet id ipsam sequi,
                similique. Commodi dolores earum iusto molestiae nisi nulla, placeat quae quia repudiandae totam vitae.</p>
             <button class="p-btn">Learn more</button>
        </div>
        <div class="p1 col-4 col-md-4">
            <img src="../static/images/img%2015.jpg" alt=" no image" width="340" height="200">
             <h5>Aliquam eta iaculis sapien </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cum cumque ducimus eveniet id ipsam sequi,
                similique. Commodi dolores earum iusto molestiae nisi nulla, placeat quae quia repudiandae totam vitae.</p>
             <button class="p-btn">Learn more</button>
        </div>
    </div>
</section>
<!--End of image section-->
<br>
<!--Start of my footer-->
<section>
    <div class="row">
        <div class="footer col-4 col-md-4">
            <h5>Latest posts</h5>
            <br>
            <div class="cal">
                <img src="../static/images/cal1.jpg" alt=" no image" width="50" height="50">
            <p>Aliquam eta iaculis sapien</p></div>
            <div class="cal">
                <img src="../static/images/cal2.jpg" alt="no image" width="50" height="50">
<p>Aliq<p>Aliquam eta iaculis sapien</p>
            </div>
            <div class="cal">
                <img src="../static/images/cal3.jpg" alt="no image" width="50" height="50">
                <p>Aliquam eta iaculis sapien</p>
            </div>
        </div>
        <div class="footer col-4 col-md-4">
            <h5>About</h5>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae deleniti, dolor doloremque ex impedit
                ipsam itaque laborum magnam maiores minus, molestias neque placeat quaerat quos sit sunt unde vel.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aliquid assumenda at beatae,
                debitis eum explicabo harum, iusto magni maiores nam nulla obcaecati omnis, quas quibusdam quos tempore vel!</p>
        </div>
        <div class="footer col-4 col-md-4">
            <h5>Stay connected</h5>
            <br>
            <div class="cal">
                <img src="../static/images/fb.jpg" alt="no image" width="50" height="50">
                <p>Facebook</p>
            </div>
            <div class="cal">
                <img src="../static/images/tw.jpg" alt="no images" width="50" height="50">
                <p>Twitter</p>
            </div>
            <div class="cal">
                <img src="../static/images/rss.jpg" alt="no image" width="50" height="50">
                <p>Rss</p>
            </div>
            <div class="cal">
                <img src="../static/images/gog.jpg" alt="no image" width="50" height="50">
                <p>Google+</p>
            </div>
        </div>
    </div>
</section>
<!--End of my footer-->
</body>
</html>