<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="d1">
    <h1>Welcome to my page</h1>

</div>
<div class="d2">
    <div class="d2.p">
        <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Deserunt dicta, facilis odio optio quo sed. Architecto delectus dignissimos
    doloribus dolorum, expedita explicabo facilis itaque, maxime nam praesentium quis repellat ut.</p></div>
    <div class="d2.p">
        <p class="p">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Aliquam at doloremque dolorum earum est eum eveniet facilis, illo in
            laboriosam laudantium officiis porro quas quod, rem repellendus tempora temporibus voluptatum!</p>
    </div>
</div>
<div class="d3">
    <div class="d3.p"><h1>To the Youngkiz</h1></div>
    <div class="d3.p"><p class="p"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aliquam dicta dolorem fugiat ipsam maiores officia optio placeat repellendus sapiente tempora!
        A aliquam beatae delectus dolorem ex exercitationem libero minima velit?</p></div>
    <div class="d3.p"><p class="p" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Eligendi odio perspiciatis quisquam reiciendis reprehenderit sequi ullam voluptate?
        Aperiam, corporis debitis dolorum expedita, inventore minima officia placeat, praesentium quasi quidem sed!</p></div></div>


</body>
</html>