<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
    <h1>eMobilis Gallery</h1>
    <a href="index.html">  <button class="A">Home</button></a>
    <a href="about.html"><button class="B">About</button></a>
    <a href="gallery.html"><button class="C">Gallery</button></a>
    <a href="register.html"><button class="D">Register</button></a>
    <a href="login.html"> <button class="E">Login</button></a>
    <hr>
    <img src="../static/images/img1%20-%20Copy.jpg" alt="No image">
    <img src="../static/images/img2%20-%20Copy.jpg" alt="No image">
    <img src="../static/images/img3%20-%20Copy.jpg" alt="No image">
    <img src="../static/images/img4.jpg" alt="No image">
    <img src="../static/images/img5.jpg" alt="No image">
    <img src="../static/images/gradient%20-%20Copy.jpg" alt="No image">
</body>
</html>