<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
   <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1>eMobilis Login</h1>
  <a href="index.html"><button class="A">Home</button></a>
  <a href="gallery.html"> <button class="C">Gallery</button></a>
  <a href="about.html">  <button class="B">About</button></a>
  <a href="register.html"> <button class="D">Register</button></a>
  <a href="login.html"><button class="E">Login</button></a>
<hr>
<form class="log-form" action=""><br>
  <input class="log-input" placeholder="Email" type="email"><br><br>
  <input class="log-input" placeholder="Password" type="password"><br><br>
</form>

</body>
</html>