<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
  <link rel="stylesheet" href="../static/css/urembo.css">
</head>
<body>
<h1>eMobilis Registration</h1>
  <a href="index.html"><button class="A">Home</button></a>
  <a href="gallery.html"> <button class="C">Gallery</button></a>
  <a href="about.html">  <button class="B">About</button></a>
  <a href="register.html"> <button class="D">Register</button></a>
  <a href="login.html"><button class="E">Login</button></a>

<hr>
<form class="reg-form" action="">
  <input class="reg-input" placeholder="Enter Name" type="text"><br><br>
  <input class="reg-input" placeholder="Email" type="email"><br><br>
  <label class="reg-label">D:O:B</label><br>
  <input class="reg-input" type="date"><br><br>
  <input class="reg-input" placeholder="Phone" type="tel"><br><br>
  <label class="reg-label">Gender</label><br>
  <input name="gender" type="radio">Male
  <input name="gender" type="radio">Female
  <input name="gender" type="radio">Other<br><br>
  <input  class="reg-input"placeholder="Password" type="password"><br><br>
  <input class="reg-submit" value="Register" type="submit">
</form>
</body>
</html>