.body{
    background-color: rgba(19, 8, 77, 0.85);
}
.logo{
    width: 100%;
    height: 20vh;
    display: flex;
}
.logo1{
    width: 30%;
    height: 20vh;
    margin-left:20px ;
    display: flex;
    justify-content: center;
    color: white;
}
.logo2{
    width:30%;
    height: 20vh;
    display: flex;
    color: white;
}
.btn{
    border-radius: unset;
    border: unset;
    margin-top: unset;

}
.logo3{
    width: 40%;
    height: 20vh;
    margin-left: 20px;
}
.btn1{
    color: white;
    border: unset;
    border-radius: unset;
    background-color: transparent;
    width: 70px;
    height: 20px;
    margin-left: 30px;
}
.btn2{
    background-color: aqua;
    color: white;
    border: unset;
    width: 70px;
    height: 20px;
}
.content{
    width: 100%;
    height: 80vh;
    align-items: center;
    display: block;
}
.he1{
    font-size: 10px;
    color: #0ad0f3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.he2{
    font-size: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pa{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    color: white;
}
.btn3{
    margin-left: 50%;
    background-color: aqua;
    border: unset;
    color: white;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}
.btn4{
    margin-left: 20px;
    border-color: #0592f6;
    color: #06d8f5;
    width: 100px;
    height: 30px;
    background-color: transparent;

}
.photos{
    width: 100%;
    height: 50vh;
    display: flex;


}
.photo1{
    width: 30%;
    height: 50vh;
    background-color: aqua;
    margin-right: 20px;
    margin-left: 40px;
}
.photo1 img{
    width: 20%;
    height: 10vh;
    margin-top: 20px;
}
.photo2{
    width: 30%;
    height: 50vh;
    background-color: #838080;
    margin-right: 20px;
}
.photo2 img{
    width: 20%;
    height: 10vh;
    margin-top: 20px;
}
.photo2 p{
    font-size: 15px;
    margin-left: 10px;
    align-items: normal;
}
.photo3{
    width: 30%;
    height: 50vh;
    background-color: bisque;
}
.photo3 img{
    width: 20%;
    height: 10vh;
    margin-top: 20px;
    justify-content: center;
}
.photo3 p{
    font-size: 20px;
    margin-left: 10px;
    text-space: 5px;
    align-items: normal;
}
.ha{
    justify-items:center;
    align-items: center;
    margin-left: 20px;
}